@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#050505] text-white font-sans antialiased;
  }
}

@layer components {
  .input-corporate {
    @apply block w-full bg-white/[0.05] backdrop-blur-md rounded-xl border border-white/20 py-3 px-4 text-white shadow-sm placeholder:text-gray-400 focus:ring-1 focus:ring-white/50 focus:border-white/50 transition-all duration-300;
  }

  .label-corporate {
    @apply block text-[10px] font-bold tracking-[0.2em] text-gray-300 uppercase mb-2 ml-1;
  }

  /* Contraste para Menus Suspensos (Select) */
  select option {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
  }
}
